<html>
	<head>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>Royal Straight</title>
	  	
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
		<link rel="stylesheet" type="text/css" href="static/css/home.css">
	</head>
	<body>
	<div id="mainContainer" class="container">
		<header>
			<div class="jumbotron">
		    	<h1 class= "Casino" align="center">Royal Straight Casino</h1> 
			</div>
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<ul class="nav navbar-nav">
					  <li class="active"><a class="links" href="/">Home</a></li>
					  <li><a class="links" href="about">About</a></li>
					  <li><a class="links" href="/game">Play Poker!</a></li>
					  <li><a class="links" href="/players">Players</a></li>
					</ul>
				</div>
			</nav>
  		</header>
		<div class="row">
			<div class="col-md-4 col-lg-4 col-sm-4"></div>
			<section class="main-section col-md-4 col-lg-4 col-sm-4">
		      <img src="static/images/poker.jpeg" class="auth-image" style = "width:200px; height: 200px;" align="center">
		      <br>
			  <p id='paragraph'> This is the Royal Straight Casino. <br> Come play poker!</p>
		    </section>
		    <div class="col-md-4 col-lg-4 col-sm-4"></div>
		</div>
  		</div>
	</body>
</html>